# --- System / IDE ---
.vscode/
.idea/
.DS_Store
Thumbs.db

# --- Python / Environment ---
.venv/
env/
.env
venv/
bin/
lib/
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pyc

# --- Data & Datasets ---
data/*
**.jpg
## --- Exception: example Data ---
!data/examples/

# --- KI Models ---
*.pt
*.onnx
*.weights
models/*.pt

# --- Arduino / Firmware ---
# Ignore compilation artifacts
build/
*.hex
*.elf
*.bin

# --- Logs, Performance & Config ---
runs/
logs/
*.log
.tensorboard/
software/computer_vision/model/poops.yaml